<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.name.titleize %>!</h1>
    <p>
      You have successfully signed up to Jdapp,
      your username is: <%= @user.login %>.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>