<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up to Jdapp!
    </p>
    <p>You can easily delete yourself if you wish by clicking <a href="http://jdapp.herokuapp.com/users">here</a></p>
    <p>Have a great day!</p>
  </body>
</html>