<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Editing user</h1>
  	</div>
    <div class="container">
    <%= render 'form' %>
    </div>
  <div class="panel-footer">
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
  </div>
</div>