<h1>About</h1>
<p>Hi there! My name is Josh Hathcock, or jdspiral on the internet, and I'm a web developer from Dawsonville, Georgia. I've been working professionally for about 4 years now, and I've been fooling around for longer than that. I've tackled projects ranging from Joomla! and Virtuemart configs, OpenCart builds, and probably 100 WordPress websites. Here are some links to some of my work.</p>

<h3>Josh's Work</h3>
<a href="http://www.fenceworksofga.com/" rel="nofollow" target="blank">Fenceworks of Georgia</a>
<ul><li>WordPress</li>
	<li>Genesis</li></ul>