<h1>About Me</h1>
<p>Hi there! My name is Josh Hathcock, or <i>jdspiral</i> on the internet, and I'm a web developer from Dawsonville, Georgia. I've been working professionally for a little over 3 years now, and I've been fooling around the web for longer than that. I've tackled projects ranging from Joomla!, OpenCart, and have probably overseen the "5 Minute Install" to launch on nearly 100 WordPress websites. I have a few more sites using Sass coming soon, but they're currently in maintenance mode. I'll try to show some of the better sites I've done and show the breadth of my work.</p>

<p>My Blog (It's New)</p>
<a href="http://www.jdspiral.com/" target="_blank">http://www.jdspiral.com/</a>

<p>Oh, and here's a few blog posts I've written for our company:</p>
http://www.interactivesearchmarketing.com/structured-data-smarter-internet/
http://www.interactivesearchmarketing.com/sass-css-and-seo/

<h3>Portfolio</h3>
<h5><strong><u>WordPress</u></strong></h5>
http://www.wildwoodchristianacademy.com/<br>
http://www.georgia-fence-company.com/
<h5><strong><u>WordPress + Genesis</u></strong></h5>
http://www.fenceworksofga.com/
<h5><strong><u>WordPress + Genesis + SASS</u></strong></h5>
http://newurbanforestry.com/<br>
http://www.slepianfirm.com<br>
http://www.forsteramerica.com/<br>
http://www.intelcommission.org/
<h5><strong><u>Joomla!</u></strong></h5>
https://www.kleenwheels.com/
<h5><strong><u>Joomla! + Rockettheme</u></strong></h5>
http://www.kemperamerica.com/<br>
http://www.nativecustomstone.com/
<h5><strong><u>ExpressionEngine</u></strong></h5>
http://ckandf.com/ (I did not build, but I have done updates to code)<br><br>

<strong>Tech</strong>	
<p>CSS3, Sass/LESS, HTML5, HAML, PHP, MySQL, PostgreSQL, Jquery/CoffeeScript, LAMP, Ruby on Rails, HTTP+JSON/XML RESTful Architecture, Semantic Markup/Schema.org, Ruby, Python, Java, C++</p>

<strong>CMS/Frameworks</strong>
<p>WordPress, Joomla!, ExpressionEngine, Virtuemart, OpenCart, WooCommerce, Shopify, Bootstrap</p>

<strong>Tools</strong>
<p>Git, Photoshop, SublimeText, Bash, Vim</p>

<strong>Delivery</strong>
<p>Responsive Web Design, Progressive Enhancement, SEO, Cross-Browser compatibility</p>

<strong>Systems</strong>
<p>Windows, Fedora, Centos5/6, Ubuntu</p>

