<h1>About</h1>
<p>Hi there! My name is Josh Hathcock, or <i>jdspiral</i> on the internet, and I'm a web developer from Dawsonville, Georgia. I've been working professionally for about 4 years now, and I've been fooling around for longer than that. I've tackled projects ranging from Joomla!, OpenCart, and have probably overseen "5 Minute Install" to launch on nearly 100 WordPress websites. Here is some of my work.</p>

<h3>Portfolio</h3>
<h5><strong><u>WordPress</u></strong></h5>
http://www.wildwoodchristianacademy.com/<br>
http://www.georgia-fence-company.com/
<h5><strong><u>WordPress with Genesis</u></strong></h5>
http://www.fenceworksofga.com/
<h5><strong><u>WordPress with Genesis Sandbox w/ SASS</u></strong></h5>
http://newurbanforestry.com/<br>
http://www.forsteramerica.com/
<h5><strong><u>Joomla!</u></strong></h5>
https://www.kleenwheels.com/
<h5><strong><u>Joomla! + Rockettheme</u></strong></h5>
http://www.kemperamerica.com/<br>
http://www.nativecustomstone.com/
<h5><strong><u>ExpressionEngine</u></strong></h5>
http://ckandf.com/ (I did not build, but I have done updates to code)


<h3>Languages/Frameworks</h3>
<ul>
	<li>CSS3/SASS/HAML</li>
	<li>HTML5</li>
	<li>Ruby on Rails</li>
	<li>Liquid Templating Language</li>
	<li>WordPress/Genesis Framework</li>
	<li>ExpressionEngine</li>
	<li>Joomla!</li>
	<li>Git</li>
<h3>Systems</h3>
	<li>Fedora17-20</li>
	<li>Centos5/6</li>
	<li>Windows</li>
<h3>Programs I Use</h3>
	<li>Photoshop</li>
	<li>SublimeText</li>
	<li>Compass for Windows</li>
	<li>FlashFXP</li>
	<li>XAMPP</li>
