<h1>About this app</h1>
<p>This app was built by me using Fedora 20, SublimeText and Spotify :) It's built atop Ruby on Rails and uses Mandrill as it's transactional email service. I plan to use it as a blog in the future, and if you snoop around enough I'm sure you'll see most of the parts are there.