<div class="jumbotron center">
	<h1>Welcome to Jdapp!</h1>
	<p>Please excuse the mess around here I'm a work in progress. Go ahead and sign up anyway and check out your awesome email!<p>
		<%= link_to "Sign Up Button", new_user_path, class: "btn btn-primary" %>
</div>



