<div class="jumbotron center">
	<h1>Welcome to Jdapp!</h1>
	<p>Please forgive the mess around here :) I'm a work in progress.</p>
	<p>But go ahead and sign up and check out your awesome email!<p>
		<%= link_to "Sign Up Button", new_user_path, class: "btn btn-primary" %>
</div>



