@import url("http://fonts.googleapis.com/css?family=Bangers|Lato:400,700");

$body-bg: #cfcfcf;
$font-family-sans-serif: 'Luckiest Guy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-default-bg:  white;
$navbar-default-brand-color: #c0392b;
$brand-primary:  #c0392b;
$jumbotron-bg: white;

@import 'bootstrap';
p {
	font-size:21px;
}
.center {
	text-align: center;
}
.navbar-default {
	margin-top: 20px;
}
.table {
	width: 98%;
}
.navbar-default .navbar-brand {
	font-family: bangers;
	font-size:3rem;
}
.panel-default > .panel-heading {
	background-color: #eee;
}
