@import url("http://fonts.googleapis.com/css?family=Bangers|Lato:300,700");

$body-bg: #cfcfcf;
$font-family-sans-serif: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-default-bg:  white;
$navbar-default-brand-color: #c0392b;
$brand-primary:  #c0392b;
$jumbotron-bg: white;
$panel-footer-bg: #eee;
$font-size-base: 16px;

@import 'bootstrap';

p {
	font-family: 'lato', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:2.1rem;
}
.center {
	text-align: center;
}
.navbar-default {
	background-color: #eee;
	margin-top: 20px;
}
.table {
	width: 96%;
}
.navbar-default .navbar-brand {
	font-family: bangers;
	font-size:3rem;
}
.panel-default > .panel-heading {
	background-color: #eee;
}
.panel-body {
	width: 91%;
}